body {
  display: flex;
  justify-content: center;

  padding: 5px;
  border: px solid black;
}

h2 {
  text-align: center;
  color: blue;
  font-size: 14pt;
}

#app {
  display: flex;
  flex-direction: column;
  width: 50%;
}

thead {
  font-size: 16pt;
}

td {
  border: 1px solid black;
  padding: 4px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: goldenrod;
}
